<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shift.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shift.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
